{% extends "templates/web.html" %}

{% block page_content %}
<h1>{{ title }}</h1>
<h2>Flight Details</h2>
<ul>
    {% set airline = frappe.db.get_value("Airplane", doc.airplane, "airline") %}
    {%set price = frappe.db.get_value("Airplane Ticket", doc.flight, "flight_price")%}
    <li>Airline: {{airline}}</li>
    <li>{{ doc.source_airport_code }} → {{ doc.destination_airport_code }}</li>
    <li>{{ frappe.utils.format_date(doc.date_of_departure, "d MMMM, YYYY")  }} | {{ doc.time_of_departure }}</li>
    <li>Duration: {{ frappe.utils.format_duration(doc.duration) }}</li><br>
    <a href="/ticket-booking-web-form/new?flight_price={{price}}&flight={{title}}" class="button">Book Flight</a>
</ul>

<style>
    .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        transition: background 0.3s;
    }
    
    .button:hover {
        background-color: #0056b3;
    }
    </style>
{% endblock %}


<!-- this is a sample default web page template -->




